<html>
<head>
<title>Cases</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<h1>Cases</h1>

    [<a href="/">Home</a> | <a href="projects">Projects</a> | <a href="municipalities">Municipalities</a> |
     <a href="owners">Owners</a> | <a href="cases">Cases</a> |
     <a href="lawyers">Lawyers</a> ]
<div id="browse" style="display: block">

<p><strong>Browse Cases</strong></p>

<table>
  <thead>
  <table border="1" cellpadding="5">
  <tr>
      <!-- Iterate through each key in the first entry to get the
      column name -->
      {% for key in Data[0].keys() %}

      <!-- Create a <th> tag with the key inside of it, this will be
      our header row -->
      <th>{{ key }}</th>

      <!-- End of this for loop -->
      {% endfor %}
      <td>  </td>
      <td>  </td>
  </tr>
  <tbody>

  <!-- Now, iterate through every person in Projects -->
  {% for case in Data %}
  <tr>
      <!-- Then iterate through every key in the current person dictionary -->
      {% for key in case.keys() %}
      <!-- Create a <td> element with the value of that key in it -->
      <td>{{case[key]}}</td>
      {% endfor %}
      <td><a href="update-case/{{ case["caseID"] }}">Update</a></td>
      <td><a href="delete-case/{{ case["caseID"] }}">Delete</a></td>
  </tr>
  {% endfor %}
</table>

<p>&nbsp;</p>
</div> <!-- browse -->

<!-- <div>
  <a>Search for a Project </a>
  <input type="text" placeholder="Enter Project ID">
</div> -->

<div id="insert" style="display: block">
    <form method="POST" action="add-case">
        <legend><strong>Add Case</strong></legend>
          <fieldset class="fields">
            <label> Case ID </label> <input type="number" name="caseID" required>
            <label> Case Number </label> <input type="text" name="caseNumber" required>
            <label> Deadline </label> <input type="date" name="deadlineDate" required>
            <label> Project ID </label> <input type="text" name="projectID" required>
            <label> Lawyer ID </label> <input type="text" name="lawyerID" required>
          </fieldset>
          <input class="btn" type="submit" id="add-case" value="Add a Case">
	  </form> <!--add new project-->
</div>
</body>
</html>