<html>
<head>
<title>Owners</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<h1>Owners</h1>

    [<a href="/">Home</a> | <a href="projects">Projects</a> | <a href="municipalities">Municipalities</a> |
     <a href="owners">Owners</a> | <a href="cases">Cases</a> |
     <a href="lawyers">Lawyers</a> ]
<div id="browse" style="display: block">

<p><strong>Browse Owners</strong></p>

<table>
  <thead>
  <table border="1" cellpadding="5">
  <tr>
      <!-- Iterate through each key in the first entry to get the
      column name -->
      {% for key in Data[0].keys() %}

      <!-- Create a <th> tag with the key inside of it, this will be
      our header row -->
      <th>{{ key }}</th>

      <!-- End of this for loop -->
      {% endfor %}
      <td>  </td>
      <td>  </td>
  </tr>
  <tbody>

  <!-- Now, iterate through every person in Projects -->
  {% for owner in Data %}
  <tr>
      <!-- Then iterate through every key in the current person dictionary -->
      {% for key in owner.keys() %}
      <!-- Create a <td> element with the value of that key in it -->
      <td>{{owner[key]}}</td>
      {% endfor %}
      <td><a href="update-owner/{{ owner["ownerID"] }}">Update</a></td>
      <td><a href="delete-owner/{{ owner["ownerID"] }}">Delete</a></td>
  </tr>
  {% endfor %}
</table>

<p>&nbsp;</p>
</div> <!-- browse -->

<!-- <div>
  <a>Search for a Project </a>
  <input type="text" placeholder="Enter Project ID">
</div> -->

<div id="insert" style="display: block">
    <form method="POST" action="add-owner">
        <legend><strong>Add Owner</strong></legend>
          <fieldset class="fields">
            <label> Owner ID </label> <input type="number" name="ownerID" required>
            <label> Owner Name </label> <input type="text" name="ownerName" required>
            <label> Address </label> <input type="text" name="address" required>
            <label> Phone Number </label> <input type="text" name="phoneNumber" required>
            <label> Email </label> <input type="text" name="email" required>
            <label> Project ID </label> <input type="number" name="projectID" required>
            <label> Case ID </label> <input type="number" name="caseID">
          </fieldset>
          <input class="btn" type="submit" id="add-owner" value="Add an Owner">
	  </form> <!--add new project-->
</div>
</body>
</html>