<html>
<head>
<title>Projects</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<h1>Projects</h1>

    [<a href="/">Home</a> | <a href="projects">Projects</a> | <a href="municipalities">Municipalities</a> |
     <a href="owners">Owners</a> | <a href="cases">Cases</a> |
     <a href="lawyers">Lawyers</a> ]
<div id="browse" style="display: block">

<p><strong>Browse Projects</strong></p>

<table>
  <thead>
  <tr>
      <!-- Iterate through each key in the first entry to get the
      column name -->
      {% for key in Data[0].keys() %}

      <!-- Create a <th> tag with the key inside of it, this will be
      our header row -->
      <th>{{ key }}</th>

      <!-- End of this for loop -->
      {% endfor %}
  </tr>
  <tbody>

  <!-- Now, iterate through every person in bsg_people -->
  {% for project in Data %}
  <tr>
      <!-- Then iterate through every key in the current person dictionary -->
      {% for key in project.keys() %}

      <!-- Create a <td> element with the value of that key in it -->
      <td>{{project[key]}}</td>
      {% endfor %}
  </tr>
  {% endfor %}
  </table>

<p>&nbsp;</p>
</div> <!-- browse -->

<div>
  <a>Search for a Project </a>
  <input type="text" placeholder="Enter Project ID">
</div>

<div id="insert" style="display: block">
    <form id="addPlanet">
        <legend><strong>Add Project</strong></legend>
          <fieldset class="fields">
            <label> Project ID </label> <input type="text" name="name">
            <label> Plat Map </label> <input type="text" name="population">
            <label> Start Date </label> <input type="text" name="language">
          </fieldset>
          <input class="btn" type="submit" id="addPlanet" value="Add a Planet">
          <input class="btn" type="button" value="cancel">
	</form> <!--add new planet-->
</div><!-- insert -->

<p>&nbsp;</p>
<div id="update" style="display: block">
  <form id="updateProject">
      <legend><strong>Update Project</strong></legend>
          <fieldset class="fields">
            <label> Project ID </label> <input type="text" name="name">
            <label> Plat Map </label> <input type="text" name="population">
            <label> Start Date </label> <input type="text" name="language">
          </fieldset>
    <input class="btn" type="submit" id="UpdateSavePlanet" value="Save Update Planet">
          <input class="btn" type="button" value="cancel" >
  </form> 
</div><!-- update -->
<p>&nbsp;</p>
<div id="delete" style="display: block">
      <legend><strong>Delete Project</strong></legend>
          <fieldset class="fields">
            <label> Project ID </label> <input type="text" name="name">
            <label> Plat Map </label> <input type="text" name="population">
            <label> Start Date </label> <input type="text" name="language">
          </fieldset>
    <input class="btn" type="submit" id="DeletePlanet" value="Delete Planet">
          <input class="btn" type="button" value="cancel" >
  </form> 
</div><!-- delete -->
</body>
</html>
